/* #root {
	height: 100%;
	width: 100%;
} */

*{
    font-family: Lato;
}

.table-fixed{
    max-height: 350px;
    overflow-y: auto;
}

thead{
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

td,th{
    text-align: center;
}
